.CuadrosClases{
    background-color: aqua;
    width: 100%;
    height: 145.2rem;
    gap: 7px;
    column-gap: 0px;

    background-image: url(https://i.pinimg.com/736x/55/fd/a7/55fda7671fc52c960169cb09f8c17fea.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(20, 1fr); 
}

.seccion-nursery{
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: orange;
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    background-size: cover;
    background-position: center;
}

.Nursery-btn{
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    background-image: url(https://i.pinimg.com/236x/76/11/e7/7611e7fa657b4797a8a4ca908f3aa420.jpg);
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    cursor: pointer;

    height: 8rem;
    width: 15rem;
    border-radius: 50%;
    place-items: center; 
    background-color: rgb(179, 223, 165);
    border: 3px solid white;

}

.seccion-primaria-menor{
    grid-column: 1/3;
    grid-row: 3/4;

    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    background-size: cover;
    background-position: center;
    font-size: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: orange;
}

.Pre-kinder-btn {
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    width: 15rem;
    height: 8rem;
    place-items: center; 

    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid white;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(https://i.pinimg.com/736x/72/c1/53/72c153785b6465dd3c1de27bfa213fa9.jpg) center/cover;
}

.Kinder-btn{
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    width: 15rem;
    height: 8rem;
    place-items: center; 
  
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid white;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(https://i.pinimg.com/736x/72/c1/53/72c153785b6465dd3c1de27bfa213fa9.jpg) center/cover;
}

.Prepa-btn{
    grid-column: 1/2;
    grid-row: 5/6;
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    height: 8rem;
    place-items: center; 
    width: 15rem;
    
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid white;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(https://i.pinimg.com/736x/72/c1/53/72c153785b6465dd3c1de27bfa213fa9.jpg) center/cover;
}

.seccion-primaria-mayor{
    grid-column: 1/3;
    grid-row: 6/7;

    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    background-size: cover;
    background-position: center;
    font-size: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: orange;
}

.Primero-btn{
    grid-column: 1/2;
    grid-row: 7/8;  
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    background-image: url(https://i.pinimg.com/736x/4b/6b/26/4b6b266145e6268fb5a3db0dd4753e9c.jpg);
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 50%;
    width: 15rem;
    height: 8rem;
    border: 3px solid white;
}

.Segundo-btn{
    grid-column: 2/3;
    grid-row: 7/8; 
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    background-image: url(https://i.pinimg.com/736x/4b/6b/26/4b6b266145e6268fb5a3db0dd4753e9c.jpg);
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 50%;
    width: 15rem;
    height: 8rem;
    border: 3px solid white;
}

.Tercero-btn{
    grid-column: 1/2;
    grid-row: 8/9; 
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    background-image: url(https://i.pinimg.com/736x/4b/6b/26/4b6b266145e6268fb5a3db0dd4753e9c.jpg);
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 50%;
    width: 15rem;
    height: 8rem;
    border: 3px solid white;
}

.Cuarto-btn{
    grid-column: 2/3;
    grid-row: 8/9; 
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    background-image: url(https://i.pinimg.com/736x/4b/6b/26/4b6b266145e6268fb5a3db0dd4753e9c.jpg);
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 50%;
    width: 15rem;
    height: 8rem;
    border: 3px solid white;
}

.Quinto-btn{
    grid-column: 1/2;
    grid-row: 9/10; 
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    background-image: url(https://i.pinimg.com/736x/4b/6b/26/4b6b266145e6268fb5a3db0dd4753e9c.jpg);
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 50%;
    width: 15rem;
    height: 8rem;
    border: 3px solid white;
}

.Sexto-btn{
    grid-column: 2/3;
    grid-row: 9/10; 
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    background-image: url(https://i.pinimg.com/736x/4b/6b/26/4b6b266145e6268fb5a3db0dd4753e9c.jpg);
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 50%;
    width: 15rem;
    height: 8rem;
    border: 3px solid white;
}

.seccion-basicos{
    grid-column: 1/3;
    grid-row: 10/11; 

    font-size: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: orange;
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    background-size: cover;
    background-position: center;

}

.clase-1Basico-btn{
    grid-column: 1/2;
    grid-row: 11/12; 
    justify-self: center;
    align-self: center;
    width: 15rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.pinimg.com/236x/ca/5c/3a/ca5c3ac0af5e303f1852a1b10a53f30e.jpg) center/cover;
}

.clase-2Basico-btn{
    grid-column: 2/3;
    grid-row: 11/12; 

    justify-self: center;
    align-self: center;
    width: 15rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.pinimg.com/236x/ca/5c/3a/ca5c3ac0af5e303f1852a1b10a53f30e.jpg) center/cover;
}

.clase-3Basico-btn{
    grid-column: 1/2;
    grid-row: 12/13; 

    justify-self: center;
    align-self: center;
    width: 15rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.pinimg.com/236x/ca/5c/3a/ca5c3ac0af5e303f1852a1b10a53f30e.jpg) center/cover;
}

.seccion-diversificado{
    grid-column: 1/3;
    grid-row: 13/14;
    font-size: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: orange;
    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    background-size: cover;
    background-position: center;

}

.clase-4Computacin-btn{
    grid-column: 1/2;
    grid-row: 14/15; 

    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    width: 15rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.pinimg.com/736x/f7/bc/06/f7bc069ec82cab90ab54926b10a60e29.jpg) center/cover;
}

.clase-4Diseo-btn {
    grid-column: 2/3;
    grid-row: 14/15;
    justify-self: center;
    align-self: center;
    width: 15rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.pinimg.com/736x/12/cd/ca/12cdcaa495b75ff973124085f466640c.jpg) center/cover;
}

.clase-4Biologia-btn{
    grid-column: 1/2;
    grid-row: 15/16;
    justify-self: center;
    align-self: center;
    width: 15rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  
    position: relative;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.pinimg.com/736x/a5/90/55/a590554611ac2ce4261d8b793e1d5b2e.jpg) center/cover;
}

.clase-4Perito-btn{
    grid-column: 2/3;
    grid-row: 15/16;
    justify-self: center;
    align-self: center;
    width: 15rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    position: relative;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.pinimg.com/736x/74/36/ac/7436ac4911ecb361e23fe60338cb5e29.jpg) center/cover;
}

.clase-5Computacin-btn{
    grid-column: 1/2;
    grid-row: 17/18;

    justify-self: center; /* Centra horizontalmente dentro de su celda */
    align-self: center; 
    width: 15rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    position: relative;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.pinimg.com/736x/f7/bc/06/f7bc069ec82cab90ab54926b10a60e29.jpg) center/cover;
}

.clase-5Diseo-btn{
    grid-column: 2/3;
    grid-row: 17/18;
    justify-self: center;
    align-self: center;
    width: 15rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.pinimg.com/736x/12/cd/ca/12cdcaa495b75ff973124085f466640c.jpg) center/cover;
}

.clase-5Biologia-btn{
    grid-column: 1/2;
    grid-row: 18/19;

    justify-self: center;
    align-self: center;
    width: 15rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.pinimg.com/736x/a5/90/55/a590554611ac2ce4261d8b793e1d5b2e.jpg) center/cover;
}

.clase-5Perito-btn{
    grid-column: 2/3;
    grid-row: 18/19;

    justify-self: center;
    align-self: center;
    width: 15rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.pinimg.com/736x/74/36/ac/7436ac4911ecb361e23fe60338cb5e29.jpg) center/cover;
}  

.clase-6Perito-btn{
    grid-column: 1/3;
    grid-row: 19/20;

    justify-self: center;
    align-self: center;
    width: 15rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid white;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    position: relative;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://i.pinimg.com/736x/74/36/ac/7436ac4911ecb361e23fe60338cb5e29.jpg) center/cover;

    background-size: cover;
    background-position: center;
}

